<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<link rel="stylesheet" href="reset.css">
	<link rel="stylesheet" href="product.css">
	<table style="border:hidden">
		<tr>
			<td style="float:left;border:hidden;">
				<img src="images/images.jpeg" alt="images/images.jpeg">
			</td>
			<td style="float:left;border:hidden;">
				<h1>INSERT ITEM NAME</h1> 
				<h2>by INSERT AUTHOR NAME</h2> 
				<div id="left" class="left">
					<h2>Rating:</h2>
				</div>
				<div id="left" class="left">
					<p>INSERT STAR RATING IMAGES HERE</p>
				</div>
			</td>
		</tr>
	</table>
	<table style="width:90%;border:hidden;">
		<tr style="width:90%">
			<th align="left">Description</th>
		<tr>
		<tr style="width:90%;overflow:auto"> 
			<td>INSERT DESRIPTION HERE</td>
		</tr>
	</table>
	<p>Reviews</pzå>
	<table> 
		<tr style="margin-right:20em"> 
	 		<th style="width:20%">User</th>
	 		<th style="width:20%">Star Rating</th>
	 		<th style="width:60%">Comment</th>
		</tr>
		<tr style="margin-right:20em">
			<td>INSERT USER NAME</td>
			<td>INSERT USER RATING</td>
			<td>INSERT USER COMMENT</td>
		</tr>
	</table>
</body>
</html>